[submodule "mls-strapi-athletes-api"]
	path = mls-strapi-athletes-api
	url = https://github.com/gmahota/mls-strapi-athletes-api.git
[submodule "mls-nextjs-client"]
	path = mls-nextjs-client
	url = https://github.com/gmahota/mls-nextjs-client.git
[submodule "mls-guy"]
	path = mls-guy
	url = https://github.com/gmahota/mls-guy.git
